.container {
  border: 2px solid black;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container h2 {
  text-align: center;
}

.container ul {
  list-style: none;
  list-style-position: outside;
  position: relative;
  right: 14px;
}

.container ul li {
  margin: 1rem 0;
  cursor: pointer;
  font-size: 18px;
  position: relative;
}
.container ul li:hover {
  color: lightskyblue;
}

.container ul li::after {
  content: " ";
  position: absolute;
  left: -30px;
  top: 4px;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 50%;
}
